@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

section {
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.justify-content-between {
    justify-content: space-between;
}

/*-------------------column----------------------*/

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

/*-----------section {1} details---------*/
header {
    background: blue;
}
.ml-30{
    margin-left: 180px;
}
.mr-30{
    margin-right: 200px;
}
.section-1 {
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.logo {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;
    line-height: 100px;
    margin-left: 20px;
 
 
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;

}

nav ul li a {
    padding: 20px;
    line-height: 100px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: right;

}

.btn1 {
    font-family: roboto ,sans-serif;
    padding: 15px 30px;
    border-radius: 100px;
    background: rgb(75, 75, 248);
    color: white;
    cursor: pointer;
}

.btn1:hover {
    background-color: #fff;
    color: rgb(75, 75, 248)
}

#box {
    display: none;
}

.menu {
    position: fixed;
    right: 0;
    line-height: 100px;
    font-size: 40px;
    display: none;
    color: black;

 
}

#box:checked~ul {
    left: 0;
}

/*-------------.container details------------*/
.card {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.para {
    font-family: Poppins;
    font-size: 90px;
    font-weight: 600;
    line-height: 96.3px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
}

.para2 {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.61px;
    text-align: left;
    color: #fff;
}

.btn2 {
    padding: 20px 50px;
    border-radius: 100px;
    background: rgb(75, 75, 248);
    color: white;
    margin-top: 60px;
    margin-right: 30px;
    border: 2px solid #fff;
    cursor: pointer;
    background-size: cover;
}

.btn2:hover {
    background-color: #fff;
    color: rgb(75, 75, 248);
}

.pic1 {
    width: 486px;
}

/*------------section {2} details-------------*/

.section-2 {

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.heading {
    font-weight: 600;
    font-size: 50px;
    margin-top: 100px;
    font-family: poppins, sans-serif;
}

.para3 {
    max-width: 566px;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(158, 157, 157);
    font-family: poppins, sans-serif;
}

.pic2 {
    margin-top: 60px;
}

/*------------section {3} details-------------*/
.section-3 {


    background-color: rgb(184, 184, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    z-index: -1;
    position: relative;
  
}
.container2{
    
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
       overflow: hidden;
}

.postion-absolute {
    position: absolute;
    left: 0;

}

.perfect {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 57.78px;
    text-align: left;

}

.glove {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 33.96px;
    text-align: left;
    color: #2B353EB2;
    margin-top: 30px;
}

.star {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 5 00;
    line-height: 29.11px;
    text-align: left;
    margin-left: 20px;
    color: #2B353EB2;

}

.m-top {
    margin-top: 30px;
}


.line {
    padding: 1px;
    width: 150px;
    background: gray;
    margin-top: 40px;
    margin-bottom: 40px;
}



.btn3 {
    padding: 20px 50px;
    border-radius: 100px;
    background: rgb(75, 75, 248);
    color: white;
    margin-top: 40px;
    margin-right: 30px;
    border: 2px solid blue;
    cursor: pointer;
    background-size: cover;
}
.card3{
    margin-left: 150px;
}

.btn3:hover {
    background-color: rgb(184, 184, 251);
    color: blue;
}

.f-size {
  
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.11px;
    text-align: left;
    color:rgb(71, 71, 71);
  
    
}

/*-------------section {4} details------------*/

.section-4 {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.para8 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.25px;
    text-align: left;
    color: gray;
    margin-right: 20px;
}

.logo2 {
    padding-bottom: 12px;
}

.info {
    color: gray;
}

.pb-12 {
    padding-bottom: 12px;
}

.groupimg {
    width: 100%;
}

.d-flex {
    display: flex;

}

.f-wrap {
    flex-wrap: wrap;
}

ol {
    margin-bottom: 20px;
}

ol li a {
    color: gray;
}

.text {
    color: #000;
}
.text3{
    position:relative;
    top: 100%;
    font-family: Roboto;
font-size: 13px;
font-weight: 400;
line-height: 21.02px;
text-align: left;
color: rgb(88, 88, 88);
   
   
}
.card-box-parent {
    display: flex;
}

.w-100 {
    width: 100%;
}

.logo2 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 200;
    line-height: 30.16px;
    letter-spacing: -0.02em;
    text-align: left;

}

.text {
    font-family: poppins, sans-serif;
    color: black;
    cursor: pointer;
    padding-bottom: 12px;
}

.text2 {
    font-family: poppins, sans-serif;
    padding-bottom: 12px;
}

.para8 {

    color: rgb(158, 156, 156);
}

.chat {
    font-size: 30px;
    font-weight: 500;
    font-family: poppins, sans-serif;
}

.app {
    font-size: 30px;
    font-weight: 300;
    font-family: poppins, sans-serif;
}

/*---------------responsive nav------------*/
@media (max-width:576px) {
    .menu {
        display: block;
        cursor: pointer;
        margin-right: 60px;
       
       
     
    }
  
    nav ul {
        display: block;
        margin-top: 100px;
        width: 100%;
        height: 100vh;
        text-align: center;
        position: fixed;
        left: 100%;
        transition: all 500ms;
        background: #000;
        line-height: 20px;
    }
    .text3{
   position: relative;
   top: 500px;
    }


    .para {
        font-size: 40px;
        font-weight: 600;
        width: 200px;
        margin-bottom: 10px;
    }

    .btn2 {
        padding: 10px 15px;
        margin-top: 20px;
    }

    .btn-3-parent {
        display: flex;
        flex-direction: column;
    }

    .btn3 {
        margin-top: 20px;
        width: 200px;
    }

}

@media (max-width:1200px) {

    .col-6 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-3 {
        height: 150vh;
    }


    .star {
        width: 100%;
    }

    .pic1 {
        margin-top: 30px;
        width: 100%;
    }

    .pic2 {
        width: 100%;
    }

    .pic5 {
        width: 100%;
    }

    .box {
        margin-left: 0;
    }


}

@media (max-width:992px) {

    .col-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .text3{
        position: relative;
        top: 500px;
     
           
         }
    .mb-24 {
        margin-bottom: 24px;
    }

    .card-parent {
        display: flex;
        flex-direction: column;
    }
    .card3{
        margin-left: 0px;
    }
    .ml-30{
        margin-left: 0;
    }

}



@media (max-width:768px) {
    .col-sm-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (max-width:576px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}